@model Product
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Comptible" content="ie=edge">
	<title>Index</title>
</head>
<body>
	<div class="container">
	@*@await Component.InvokeAsync("ProductListing")*@

	@*<vc:product-listing/>*@
	<vc:vc-custom/>
	</div>
</body>
</html>